

.hexContainer {
  display: table-cell;
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
  border-right: 5px solid red;
  border-left: 5px solid red;
}

span.hex {
  width: 36px;
  height: 20px;
  display: inline-block;
  margin: 0px;
  margin-right: 5px;
}

span.hex::after {
  position: relative;
  /* background-color: blue; */
  height: 0;
  width: 0;
  top: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  content: "";
  display: inline-block;
  top: -2px;
}

span.hex::before {
  position: relative;
  /* background-color: blue; */
  height: 0;
  width: 0;
  top: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  content: "";
  display: inline-block;
  top: -14px;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}
